.header {
  background-color: #3e3e3e;
  color: #79a9a9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    padding: 10px;
    margin-left: 20px;

  }
  nav {
    margin-right: 20px;

  }
  ul {
    display: flex;
    list-style-type: none;


  }
  li a{
    text-decoration: none;
    margin: 20px;
    color: darkgray;
    &:focus {
      color: darkgoldenrod;
    }
    &:hover {
      font-weight: bold;
    }


  }
}